:root{
	--mainColor:#b1eea9;
	--secondaryColor:#b1eea9;

	--borderColor:#164D56;

	--mainText:rgb(15, 10, 10);
	--secondaryText:#070606;

	--themeDotBorder:#FFF;

	--previewBg:#b1eea9;
	--previewShadow:#96f18a;


	--buttonColor:#17a2b8;


}